.DS_Store
AdditionalBuildInformationBundled.plist
TransactionHistory.omo
Cashier.omo
UserInterfaceState.xcuserstate
xcuserdata/

*.swp
*~.nib

build/
code/Cashier/Cashier/Shared/ISHGridScrollView.framework
code/Cashier/Cashier/Shared/PECDataModelFrameWork
code/Cashier/Cashier/Shared/ISHCashierWebService.framework
code/Cashier/Cashier/Shared/CrashReporter
code/Cashier/Documentation
code/Cashier/Cashier/Shared/HockeyKit
betaApps
releases/enterpriseDistribution
code/Cashier/CashierUIAutomationTests/automation.trace/instrument_data
code/Cashier/CashierUIAutomationTests/automation.trace/shared_data
code/Cashier/CashierUIAutomationTests/output.log
tools/hexagon/.ropeproject/config.py
tools/hexagon/.ropeproject/globalnames
tools/hexagon/.ropeproject/history
tools/hexagon/.ropeproject/objectdb
tools/bundleCashier/SumUpAlpha-*.zip
tools/bundleCashier/SumUpBeta-*.zip
tools/webTranslateIt
tools/hexagon/mitBildern
code/SMPPaymentLib/SMPPaymentSampleApp/SMPPayment
code/SMPPaymentLib/SMPPayment/SMPPayment
